*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: side_font;
    src: url(VINERITC.TTF);
}
@font-face {
    font-family: heading_font;
    src: url(VIVALDII.TTF);
}
@font-face {
    font-family: main_text_font;
    src: url(PALSCRI.TTF);
}
#nav{
    display: flex;
    height: 10vh;
    justify-content: center;
    font-size: 63px;
    font-family: heading_font;
    border-bottom: 2px solid black;
    background: linear-gradient(45deg, #e50303, #e3d8d8,#ef0d0d);
    
}
.heart_shape{
    color: red;
    font-size: 60px;
}
.container{
    height: 90vh;
    display: flex;
}
.sidebar {
    width: 15%;
    height: 100%;
    border-right: 2px solid black;
    /* background: radial-gradient(#ffffff, #d12b2b); */
    background: linear-gradient(45deg, #f40404, transparent);
}
.side_btn_container{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    border: none;
}
.side_btn{
    margin: 5px 15px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family: side_font;
    background: radial-gradient(#f3eeee, #d62323);
}
.main {
    /* background-position: right; */
    width: 85%;
    height: 100%;
    display: flex;
    /* background: url(flower_circle.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; */
}
.dummy_main{
    position: absolute;
    width: 1289px;
    height: 625px;
    z-index: -1;
    background: url(flower_circle.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: b lur(5px); */
}
#welcome_txt{
    align-self: center;
    text-align: center;
    width: 100%;
    font-family: main_text_font;
    font-size: 80px;
    /* display: none; */
}
.image{
    height: 500px;
    width: 500px;
    margin-top: 5%;
    margin-left: 10%;
    /* border: 2px solid black; */
    display: none;
}
.main_text{
    font-size: 85px;
    margin-top: 5%;
    margin-left: 6%;
    width: 40%;
    display: flex;
    text-align: center;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: main_text_font;
    /* border: 2px solid black; */
    display: none;
}




/* this is colour part */
label{
    border: none;
}
#mob{
    display: none;
}

@media(max-width:480px) {
    #nav{
        display: none;
    }
    #container{
        display: none;
    }
    #mob{
        text-align: center;
        display: block;
    }
    body{
        background-color:rgb(14, 168, 229);
    }
    
} 
